rofi.modi:                  {{ ROFI_MODES }}
rofi.opacity:               {{ ROFI_OPACITY }}
rofi.width:                 {{ ROFI_WIDTH }}
rofi.columns:               {{ ROFI_COLUMNS }}
rofi.font:                  {{ ROFI_FONT }}
rofi.kb-cancel:             Escape,Control+bracketleft,Super+d
rofi.click-to-exit:         true
rofi.sidebar-mode:          true
rofi.matching:              fuzzy

rofi.kb-remove-to-eol:      Control+Shift+4
rofi.kb-row-up:             Up,Control+k,Shift+Tab,Shift+ISO_Left_Tab
rofi.kb-row-down:           Down,Control+j
rofi.kb-accept-entry:       Control+l,Return,KP_Enter
rofi.kb-mode-next:          Shift+Right,Control+Tab
rofi.kb-mode-previous:      Shift+Left,Control+Shift+Tab

! Color scheme
rofi.color-enabled:         true
rofi.color-normal:          argb:00000000,  #D8DEE9 , argb:00000000,  #FAC863 ,  #1B2B34
rofi.color-urgent:          argb:00000000,  #F99157 , argb:00000000,  #F99157 ,  #1B2B34
rofi.color-active:          argb:00000000,  #6699CC , argb:00000000,  #6699CC ,  #1B2B34
rofi.color-window:          argb:ee222222,  #FAC863 ,  #FAC863
rofi.separator-style:       solid