export EDITOR="nvim"
export VISUAL="nvim"

export PATH="$HOME/.local/bin:{{ dep('../commands').scripts_dir }}:{{ dep('../docs:latex').bin_dir }}:$PATH"

. "$HOME/.cargo/env"


export CONFCTL_CONFIGS_ROOT=$HOME/Develop/configs
export NVIM_APPNAME=nvim-exps
