# vim:filetype=i3
set $mod Mod4

set $w1 1:I
set $w2 2:II
set $w3 3:III
set $w4 4:IV
set $w5 5:V
set $w6 6:VI
set $w7 7:VII
set $w8 8:VIII
set $w9 9:IX
set $w10 10:X

set $font FontAwesome

set $file_mgr nautilus

font pango:$font 8

# Layout colors           border  bg      text    indicator
client.focused            #1F1F1F #505050 #BBBBBB #4F4F4F
client.focused_inactive   #1A1A1A #1A1A1A #424242 #121212
client.unfocused          #1A1A1A #1A1A1A #4F4F4F #1A1A1A
client.urgent             #1A1A1A #3B89B5 #a5a5a5 #1A1A1A
client.background         #121212

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# start a terminal
bindsym $mod+Return exec i3-sensible-terminal

# start a file manager
bindsym $mod+Shift+Return exec $file_mgr

# kill focused window
bindsym $mod+q kill
bindsym $mod+Cyrillic_shorti kill
bindsym --release button2 kill

# use rofi
set $rofi rofi -show-icons

bindsym $mod+d exec --no-startup-id $rofi -i -show drun -p "menu:"
bindsym $mod+F1 exec --no-startup-id $rofi -show menu
bindsym $mod+Tab exec --no-startup-id $rofi -show window

exec_always "setxkbmap -layout us,ru -option grp:win_space_toggle"


# autorun
exec --no-startup-id {{HOME}}/.local/bin/catctl up
exec --no-startup-id nm-applet
exec --no-startup-id /usr/bin/feh --bg-scale {{bg_image}}
exec --no-startup-id /usr/bin/compton -f --opengl -b
exec --no-startup-id i3-sensible-terminal
exec --no-startup-id /usr/lib/policykit-1-gnome/polkit-gnome-authentication-agent-1
# -- tools
exec --no-startup-id flameshot
# -- messangers
exec --no-startup-id slack
exec --no-startup-id Telegram
exec --no-startup-id skype
exec --no-startup-id /opt/viber/Viber

exec --no-startup-id /usr/bin/google-chrome

{% if TARGET == 'nb' %}
{# "syndaemon" monitors keyboard and disables the touchpad when the keyboard is being used #}
exec --no-startup-id /usr/bin/syndaemon -i 0.5 -K -R
{% endif %}


# border sizes
bindsym $mod+o border normal
bindsym $mod+i border 1pixel
bindsym $mod+u border none

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right
# - with arrows
bindsym $mod+Left  focus left
bindsym $mod+Down  focus down
bindsym $mod+Up    focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+H move left
bindsym $mod+Shift+J move down
bindsym $mod+Shift+K move up
bindsym $mod+Shift+L move right
# - with arrows
bindsym $mod+Shift+Left  move left
bindsym $mod+Shift+Down  move down
bindsym $mod+Shift+Up    move up
bindsym $mod+Shift+Right move right

# move focused workspace
bindsym $mod+x move workspace to output right

# split in horizontal orientation
bindsym $mod+v split h
# split in vertical orientation
bindsym $mod+semicolon split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle global

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+f floating toggle

# change focus between tiling / floating windows
bindsym $mod+Shift+Tab focus mode_toggle
bindsym $mod+Shift+T   focus tiling

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
#bindsym $mod+d focus child

# switch to workspace
bindsym $mod+1 workspace $w1
bindsym $mod+2 workspace $w2
bindsym $mod+3 workspace $w3
bindsym $mod+4 workspace $w4
bindsym $mod+5 workspace $w5
bindsym $mod+6 workspace $w6
bindsym $mod+7 workspace $w7
bindsym $mod+8 workspace $w8
bindsym $mod+9 workspace $w9
bindsym $mod+0 workspace $w10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace $w1
bindsym $mod+Shift+2 move container to workspace $w2
bindsym $mod+Shift+3 move container to workspace $w3
bindsym $mod+Shift+4 move container to workspace $w4
bindsym $mod+Shift+5 move container to workspace $w5
bindsym $mod+Shift+6 move container to workspace $w6
bindsym $mod+Shift+7 move container to workspace $w7
bindsym $mod+Shift+8 move container to workspace $w8
bindsym $mod+Shift+9 move container to workspace $w9
bindsym $mod+Shift+0 move container to workspace $w10

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec sh -c '[ $(echo "No\nYes" | rofi -i -dmenu -p "Logout?" -width 10 -lines 2) = "Yes" ] && i3-msg exit'

# resize window (you can also use the mouse for that)
mode "resize" {
    # These bindings trigger as soon as you enter the resize mode

    bindsym j resize grow height 10 px or 10 ppt
    bindsym k resize shrink height 10 px or 10 ppt
    bindsym l resize grow width 10 px or 10 ppt
    bindsym h resize shrink width 10 px or 10ppt

    # same bindings, but for the arrow keys
    bindsym Left resize shrink width 10 px or 10 ppt
    bindsym Down resize grow height 10 px or 10 ppt
    bindsym Up resize shrink height 10 px or 10 ppt
    bindsym Right resize grow width 10 px or 10 ppt

    # back to normal: Enter or Escape
    bindsym Return mode "default"
    bindsym Escape mode "default"
    bindsym r      mode "default"
    bindsym $mod+r mode "default"
}

bindsym $mod+r mode "resize"

# Starut i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
    status_command /usr/bin/python3 {{statusbar_config}}
    strip_workspace_numbers yes
    font pango:$font, Icons 8
    position top
        colors {
            background #080808
            statusline #808080
            separator #808080
            #               border  fg      text
            focused_workspace  #5B4961 #222222 #AAAAAA
            active_workspace   #080808 #080808 #797979
            inactive_workspace #080808 #080808 #4F4F4F
            urgent_workspace   #080808 #080808 #EA4C59
        }
    mode dock
    hidden_state hide
}

# custom bindings
# - workspaces
bindsym $mod+n exec i3-input -F 'rename workspace to "%s"' -P 'new name: '

# - screenshot
bindsym Print exec flameshot gui
bindsym $mod+Print exec flameshot launcher
bindsym $mod+Shift+Print exec flameshot gui -d 5000
bindsym $mod+Ctrl+Print exec peek --no-headerbar

# - lock screen
bindsym $mod+Ctrl+l exec i3lock -i {{bg_image}}

# screen brightness controls
bindsym XF86MonBrightnessUp exec xbacklight -inc 10
bindsym XF86MonBrightnessDown exec xbacklight -dec 10

# - scratchpad
bindsym $mod+minus move scratchpad
bindsym $mod+equal scratchpad show

# - bar
bindsym $mod+slash bar mode toggle

# - sound
bindsym XF86AudioLowerVolume exec amixer -D pulse sset Master 5%-
bindsym XF86AudioRaiseVolume exec amixer -D pulse sset Master 5%+
bindsym XF86AudioMute        exec amixer -D pulse set Master Playback Switch toggle
bindsym $mod+Shift+minus     exec amixer -D pulse sset Master 5%-
bindsym $mod+Shift+plus      exec amixer -D pulse sset Master 5%+
bindsym --release $mod+p            exec --no-startup-id xdotool key --clearmodifiers XF86AudioPlay
bindsym --release $mod+bracketleft  exec --no-startup-id xdotool key --clearmodifiers XF86AudioPrev
bindsym --release $mod+bracketright exec --no-startup-id xdotool key --clearmodifiers XF86AudioNext

###
# windows adjustment
# helper: find window's name $ xprop |awk '/WM_CLASS/{print $4}'

for_window [class="^Google-chrome"] border none
for_window [class="Xfce4-notes"] floating enable, border none
for_window [class="gnome-terminal-server|Gnome-terminal"] border 1pixel
for_window [class="Lastfmlyricsgui.*"] floating enable, border 1pixel

for_window [class="Emacs|Code|Gvim|Atom|jetbrains-pycharm"] border none

for_window [class="ViberPC"] border none
for_window [class="Skype|skypeforlinux"] border none, floating disable
for_window [class="Slack.*"] border none
for_window [class="Telegram.*"] border none

for_window [class="Nautilus|org.gnome.Nautilus"] floating enable, border 1pixel

for_window [class="[pP]olkit-gnome.*"] floating enable, border 1pixel
for_window [class="[pP]eek"] floating enable, border 1pixel


# move windows to a certain place
assign [class="google-chrome.*|chrome"] → $w1
assign [class="[Gg]nome-terminal.*"] → $w2
assign [class="Code.*|code.*"] → $w3
assign [class="(Viber|Skype|Telegram|Slack).*"] → $w5