set -g history-limit 10000
set -g default-shell "/usr/bin/zsh"

set -g mouse on

# Reload config hotkey
bind R source-file ~/.tmux.conf

# Act like vim
setw -g mode-keys vi
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R
bind H select-window -p
bind L select-window -n

# Use current dir to plit windows
bind '"' split-window -c "#{pane_current_path}"
bind % split-window -h -c "#{pane_current_path}"


# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-copycat'
set -g @plugin 'jimeh/tmux-themepack'

set -g @themepack 'powerline/block/green'

run '{{ tmux_plugin_manager_dir }}/tpm'

set -g status-bg colour249
set -g status-left "#[fg=colour232,bg=colour100,bold] #S #[fg=colour100,bg=colour240,nobold]#[fg=colour233,bg=colour240] #(whoami) #[fg=colour240,bg=colour235]#[fg=colour240,bg=colour235] #I:#P #[fg=colour235,bg=colour249,nobold]"
set -g status-right "#[fg=colour235,bg=colour249]#[fg=colour245,bg=colour235] %H:%M:%S #[fg=colour240,bg=colour235]#[fg=colour233,bg=colour240] %d-%b-%y #[fg=colour245,bg=colour240] "


