[user]
	name = {{ name }}
	email = {{ email }}
	signingkey = {{ signingkey }}
[commit]
	gpgsign = true
[gpg]
	format = ssh
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = current
[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
[branch]
	sort = -committerdate
[rerere]
	enabled = true
[core]
	untrackedcache = true
	fsmonitor = true

