[user]
	name = {{ name }}
	email = {{ email }}
	signingkey = {{ signingkey }}
[commit]
	gpgsign = true
[gpg]
	format = ssh
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[interactive]
	diffFilter = delta --color-only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = current
[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
[branch]
	sort = -committerdate
[rerere]
	enabled = true
[core]
	pager = delta
	untrackedcache = true
	fsmonitor = false
[delta]
	hunk-header-decoration-style = none
	line-numbers = true
	navigate = true
	hyperlinks = true
	hyperlinks-file-link-format = "vscode://file/{path}:{line}"
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default

