# vim: ft=yaml

gui:
  showIcons: false
  branchColors:
    master: '#abdbe3'
  showBottomLine: false
  skipUnstageLineWarning: true

os:
  editPreset: 'nvim'

    pager: delta --paging=never
promptToReturnFromSubprocess: false
commits: false
stash: false
