# vim: ft=yaml

gui:
  showIcons: false
  branchColors:
    master: '#abdbe3'
  showBottomLine: false
  skipUnstageLineWarning: true

os:
  editPreset: 'nvim'

promptToReturnFromSubprocess: false
commits: false
stash: false
